.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: paleturquoise;
}
  
  .card div {
    margin-bottom: 10px;
  }
  
